.headerLink{
    padding-left: 20px;
    text-decoration: none;
    color:white;
}
.delete{
    background-color: #c21a1a;
    color:white;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}